$firth-font-family: "Space Mono", monospace;
$second-font-family: "Lexend Deca", sans-serif;
$firth-font-weight: 700;
$second-font-weight: 400;
$firth-color: #fcb72b;
$second-color: #495567;
$third-color: #939caa;
$fourth-color: #ffffff;
$footer-color: #333a44;
$aside-color: #495567;
$main-color: #ffffff;
