@use "../variables" as *;

.main-btn {
  padding: 14px 39px;
  font-family: $firth-font-family;
  font-weight: $firth-font-weight;
  font-size: 0.94rem;
  line-height: 1.5rem;
  text-align: center;
  color: $fourth-color;
  background-color: $firth-color;
  border: 2px solid transparent;
  cursor: pointer;
  transition:
    border 0.4s ease,
    color 0.4s ease,
    background-color 0.4s ease;
}

.main-btn:hover {
  border: 2px solid $firth-color;
  color: $firth-color;
  background-color: $main-color;
}
